<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4F98CA3B-7E97-4FA7-A958-29AE74D9378C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6479A4A-A09E-474D-808B-D0F598815EE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D6479A4A-A09E-474D-808B-D0F598815EE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78CA52BB-CE42-4A85-AA9B-6735DF851BE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3B4D5FB1-2796-457E-9226-C38B34A05BD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>wonderffee</string>
	<key>description</key>
	<string>Escape Spaces in Path</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Escape Spaces in Path</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bs</string>
				<key>text</key>
				<string>Space to BackSlash+Space</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F98CA3B-7E97-4FA7-A958-29AE74D9378C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>78CA52BB-CE42-4A85-AA9B-6735DF851BE5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>103</integer>
				<key>script</key>
				<string>query="{query}"
echo "$query" | tr " " "\ "</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D6479A4A-A09E-474D-808B-D0F598815EE7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Replace Spaces with BackSlash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3B4D5FB1-2796-457E-9226-C38B34A05BD0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3B4D5FB1-2796-457E-9226-C38B34A05BD0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4F98CA3B-7E97-4FA7-A958-29AE74D9378C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>78CA52BB-CE42-4A85-AA9B-6735DF851BE5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D6479A4A-A09E-474D-808B-D0F598815EE7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
